.box{
    background-color: black;
    float: left;
    width: 2em;
    height: 2em;
    margin: .2em;
    color: white;
    text-align: center;
    font-size: 4em;
    line-height: 2em;
}
button{
    height: 40px;
    width: 120px;
    border-radius: 7px;
    display: block;
    margin: 0 auto;
}